
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1486715906742'); /* IE9*/
  src: url('iconfont.eot?t=1486715906742#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1486715906742') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1486715906742') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1486715906742#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before { content: "\e640"; }

.icon-youjian:before { content: "\e694"; }

.icon-shouhuodizhi01:before { content: "\e61c"; }

.icon-github:before { content: "\e69f"; }

.icon-add:before { content: "\e6cf"; }

.icon-boke3:before { content: "\e60d"; }

