.CodeMirror {
	height: 300px; color: black; font-family: monospace;
}
.CodeMirror-lines {
	padding: 4px 0px;
}
.CodeMirror pre {
	padding: 0px 4px;
}
.CodeMirror-scrollbar-filler {
	background-color: white;
}
.CodeMirror-gutter-filler {
	background-color: white;
}
.CodeMirror-gutters {
	border-right-color: rgb(221, 221, 221); border-right-width: 1px; border-right-style: solid; white-space: nowrap; background-color: rgb(247, 247, 247);
}
.CodeMirror-linenumbers {
	
}
.CodeMirror-linenumber {
	padding: 0px 3px 0px 5px; text-align: right; color: rgb(153, 153, 153); white-space: nowrap; min-width: 20px;
}
.CodeMirror-guttermarker {
	color: black;
}
.CodeMirror-guttermarker-subtle {
	color: rgb(153, 153, 153);
}
.CodeMirror-cursor {
	width: 0px; border-right-color: currentColor; border-left-color: black; border-right-width: medium; border-left-width: 1px; border-right-style: none; border-left-style: solid;
}
.CodeMirror div.CodeMirror-secondarycursor {
	border-left-color: silver; border-left-width: 1px; border-left-style: solid;
}
.cm-fat-cursor .CodeMirror-cursor {
	background: rgb(119, 238, 119); border: 0px currentColor !important; width: auto;
}
.cm-fat-cursor div.CodeMirror-cursors {
	z-index: 1;
}
.cm-animate-fat-cursor {
	border: 0px currentColor; width: auto; background-color: rgb(119, 238, 119); -webkit-animation: blink 1.06s steps(1) infinite; -moz-animation: blink 1.06s steps(1) infinite; animation: blink 1.06s steps(1) infinite;
}
.CodeMirror-overwrite .CodeMirror-cursor {
	
}
.cm-tab {
	text-decoration: inherit; display: inline-block;
}
.CodeMirror-rulers {
	left: 0px; top: -50px; right: 0px; bottom: -20px; overflow: hidden; position: absolute;
}
.CodeMirror-ruler {
	top: 0px; bottom: 0px; border-left-color: rgb(204, 204, 204); border-left-width: 1px; border-left-style: solid; position: absolute;
}
.cm-s-default .cm-header {
	color: blue;
}
.cm-s-default .cm-quote {
	color: rgb(0, 153, 0);
}
.cm-negative {
	color: rgb(221, 68, 68);
}
.cm-positive {
	color: rgb(34, 153, 34);
}
.cm-header {
	font-weight: bold;
}
.cm-strong {
	font-weight: bold;
}
.cm-em {
	font-style: italic;
}
.cm-link {
	text-decoration: underline;
}
.cm-strikethrough {
	text-decoration: line-through;
}
.cm-s-default .cm-keyword {
	color: rgb(119, 0, 136);
}
.cm-s-default .cm-atom {
	color: rgb(34, 17, 153);
}
.cm-s-default .cm-number {
	color: rgb(17, 102, 68);
}
.cm-s-default .cm-def {
	color: rgb(0, 0, 255);
}
.cm-s-default .cm-variable {
	
}
.cm-s-default .cm-punctuation {
	
}
.cm-s-default .cm-property {
	
}
.cm-s-default .cm-operator {
	
}
.cm-s-default .cm-variable-2 {
	color: rgb(0, 85, 170);
}
.cm-s-default .cm-variable-3 {
	color: rgb(0, 136, 85);
}
.cm-s-default .cm-comment {
	color: rgb(170, 85, 0);
}
.cm-s-default .cm-string {
	color: rgb(170, 17, 17);
}
.cm-s-default .cm-string-2 {
	color: rgb(255, 85, 0);
}
.cm-s-default .cm-meta {
	color: rgb(85, 85, 85);
}
.cm-s-default .cm-qualifier {
	color: rgb(85, 85, 85);
}
.cm-s-default .cm-builtin {
	color: rgb(51, 0, 170);
}
.cm-s-default .cm-bracket {
	color: rgb(153, 153, 119);
}
.cm-s-default .cm-tag {
	color: rgb(17, 119, 0);
}
.cm-s-default .cm-attribute {
	color: rgb(0, 0, 204);
}
.cm-s-default .cm-hr {
	color: rgb(153, 153, 153);
}
.cm-s-default .cm-link {
	color: rgb(0, 0, 204);
}
.cm-s-default .cm-error {
	color: rgb(255, 0, 0);
}
.cm-invalidchar {
	color: rgb(255, 0, 0);
}
.CodeMirror-composing {
	border-bottom-color: currentColor; border-bottom-width: 2px; border-bottom-style: solid;
}
div.CodeMirror span.CodeMirror-matchingbracket {
	color: rgb(0, 255, 0);
}
div.CodeMirror span.CodeMirror-nonmatchingbracket {
	color: rgb(255, 34, 34);
}
.CodeMirror-matchingtag {
	background: rgba(255, 150, 0, 0.3);
}
.CodeMirror-activeline-background {
	background: rgb(232, 242, 255);
}
.CodeMirror {
	background: white; overflow: hidden; position: relative;
}
.CodeMirror-scroll {
	height: 100%; overflow: scroll !important; padding-bottom: 30px; margin-right: -30px; margin-bottom: -30px; position: relative;
}
.CodeMirror-sizer {
	border-right-color: transparent; border-right-width: 30px; border-right-style: solid; position: relative;
}
.CodeMirror-vscrollbar {
	display: none; position: absolute; z-index: 6;
}
.CodeMirror-hscrollbar {
	display: none; position: absolute; z-index: 6;
}
.CodeMirror-scrollbar-filler {
	display: none; position: absolute; z-index: 6;
}
.CodeMirror-gutter-filler {
	display: none; position: absolute; z-index: 6;
}
.CodeMirror-vscrollbar {
	top: 0px; right: 0px; overflow-x: hidden; overflow-y: scroll;
}
.CodeMirror-hscrollbar {
	left: 0px; bottom: 0px; overflow-x: scroll; overflow-y: hidden;
}
.CodeMirror-scrollbar-filler {
	right: 0px; bottom: 0px;
}
.CodeMirror-gutter-filler {
	left: 0px; bottom: 0px;
}
.CodeMirror-gutters {
	left: 0px; top: 0px; position: absolute; z-index: 3; min-height: 100%;
}
.CodeMirror-gutter {
	height: 100%; margin-bottom: -30px; vertical-align: top; display: inline-block; white-space: normal;
}
.CodeMirror-gutter-wrapper {
	border: currentColor !important; position: absolute; z-index: 4;
}
.CodeMirror-gutter-background {
	top: 0px; bottom: 0px; position: absolute; z-index: 4;
}
.CodeMirror-gutter-elt {
	position: absolute; z-index: 4; cursor: default;
}
.CodeMirror-gutter-wrapper {
	-webkit-user-select: none; -moz-user-select: none; user-select: none;
}
.CodeMirror-lines {
	cursor: text; min-height: 1px;
}
.CodeMirror pre {
	border-width: 0px; margin: 0px; border-radius: 0px; color: inherit; line-height: inherit; overflow: visible; font-family: inherit; font-size: inherit; white-space: pre; position: relative; z-index: 2; word-wrap: normal; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-tap-highlight-color: transparent; -webkit-font-variant-ligatures: none; font-variant-ligatures: none;
}
.CodeMirror-wrap pre {
	white-space: pre-wrap; word-break: normal; word-wrap: break-word;
}
.CodeMirror-linebackground {
	left: 0px; top: 0px; right: 0px; bottom: 0px; position: absolute; z-index: 0;
}
.CodeMirror-linewidget {
	overflow: auto; position: relative; z-index: 2;
}
.CodeMirror-widget {
	
}
.CodeMirror-code {
	
}
.CodeMirror-scroll {
	box-sizing: content-box; -moz-box-sizing: content-box;
}
.CodeMirror-sizer {
	box-sizing: content-box; -moz-box-sizing: content-box;
}
.CodeMirror-gutter {
	box-sizing: content-box; -moz-box-sizing: content-box;
}
.CodeMirror-gutters {
	box-sizing: content-box; -moz-box-sizing: content-box;
}
.CodeMirror-linenumber {
	box-sizing: content-box; -moz-box-sizing: content-box;
}
.CodeMirror-measure {
	width: 100%; height: 0px; overflow: hidden; visibility: hidden; position: absolute;
}
.CodeMirror-cursor {
	position: absolute; pointer-events: none;
}
.CodeMirror-measure pre {
	position: static;
}
div.CodeMirror-cursors {
	visibility: hidden; position: relative; z-index: 3;
}
div.CodeMirror-dragcursors {
	visibility: visible;
}
.CodeMirror-focused div.CodeMirror-cursors {
	visibility: visible;
}
.CodeMirror-selected {
	background: rgb(217, 217, 217);
}
.CodeMirror-focused .CodeMirror-selected {
	background: rgb(215, 212, 240);
}
.CodeMirror-crosshair {
	cursor: crosshair;
}
.CodeMirror-line::selection {
	background: rgb(215, 212, 240);
}
.CodeMirror-line > span::selection {
	background: rgb(215, 212, 240);
}
.CodeMirror-line > span > span::selection {
	background: rgb(215, 212, 240);
}
.cm-searching {
	background: rgba(255, 255, 0, 0.4);
}
.CodeMirror span {
	
}
.cm-force-border {
	padding-right: 0.1px;
}
.CodeMirror div.CodeMirror-cursors {
	visibility: hidden;
}
.cm-tab-wrap-hack::after {
	content: "";
}
span.CodeMirror-selectedtext {
	
}
