html.debug::before {
	background: rgba(255, 105, 180, 0.39); padding: 10px; right: 0px; bottom: 0px; font-family: monospace; font-size: 2rem; font-weight: bold; position: fixed; z-index: 2147483647; content: "default"; pointer-events: none;
}
main {
	height: 100%; display: block; position: relative;
}
.toppanel main {
	height: calc(100% - 200px);
}
.bsaapi main {
	height: calc(100% - 33px);
}
.toppanel.bsaapi main {
	height: calc(100% - 233px);
}
body {
	overflow: hidden;
}
html {
	overflow: hidden;
}
:focus {
	
}
html.debug::before {
	content: "mobile";
}
.mobile-nav-trigger {
	height: 44px; display: block; position: fixed; z-index: 100000;
}
.mobile-nav-trigger img {
	height: 40px; padding-top: 2px;
}
#toppanel {
	display: none !important;
}
.toppanel #bin {
	top: 44px;
}
.toppanel #history {
	top: 44px;
}
.toppanel #history .preview {
	top: 44px;
}
body.toppanel {
	background-position: center;
}
#mobile-nav {
	background: rgb(235, 243, 255); left: -200px; width: 200px; height: 100%; overflow: hidden; display: block; position: fixed; z-index: 100000; overflow-y: scroll;
}
#mobile-nav::after {
	top: 0px; width: 0px; right: 0px; bottom: 0px; position: absolute; content: " "; box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);
}
#mobile-nav ul {
	list-style: none; margin: 0px; padding: 0px;
}
#mobile-nav li {
	background: white;
}
body {
	overflow: hidden;
}
body main {
	-webkit-transition: -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94); transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
body.show-nav main {
	-webkit-transition: -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94); transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94); -webkit-transform: translateX(200px); transform: translateX(200px);
}
#mobile-nav li a {
	background: rgb(235, 243, 255); padding: 10px 20px; height: 46px; color: rgb(98, 147, 211); line-height: 26px; font-size: 18px; font-weight: 500; text-decoration: none; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; display: block; cursor: pointer; box-sizing: border-box;
}
a.toppanel-logo {
	-webkit-transform: translate(-86px, 120px) scale(0.35); transform: translate(-86px, 120px) scale(0.35);
}
#control {
	height: 44px;
}
#bin {
	top: 44px;
}
#control .control {
	border: 0px currentColor;
}
#control .control > div.buttons > div.menu {
	display: none;
}
#control .control > div.buttons #sharemenu .button {
	display: none;
}
#control .control > div.help {
	display: none;
}
#live .label strong {
	display: none;
}
#control #panels {
	padding: 0px; border: 0px currentColor; width: auto; right: 0px; margin-right: 0px; display: block; position: absolute;
}
#control #panels > a.button {
	border-width: 0px 0px 0px 1px; border-style: none none none solid; border-color: currentColor currentColor currentColor rgb(204, 204, 204); padding: 1px 10px 0px; border-radius: 0px; height: 44px; line-height: 43px; min-width: 50px; box-sizing: border-box;
}
#control #panels > a.button:focus {
	box-shadow: none;
}
.mobile .editbox textarea {
	padding: 0px 0.8em; width: 100%; font-family: SourceCodeProRegular, Monaco, consolas, monospace; position: absolute; box-sizing: border-box;
}
.mobile .editbox {
	left: 0px; right: 0px; bottom: 0px;
}
.author.card .settings {
	width: 50%;
}
.card .settings #headers input {
	width: 130px;
}
.card .body select {
	border-radius: 0px; border: 2px solid rgb(183, 223, 253); width: 280px;
}
#history .preview {
	display: none;
}
#history {
	top: 44px; right: 0px;
}
#history td {
	padding: 0px 5px !important;
}
#history .url {
	width: 20%; text-align: left; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}
#history .last_updated {
	width: 33%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}
#history .action {
	width: 0%; white-space: nowrap; visibility: hidden;
}
#history .title {
	width: 59%;
}
#history .header h2 {
	width: 195px; padding-left: 5px;
}
button#runconsole {
	display: inline-block !important;
}
.toppanel .notification#tip {
	top: 44px;
}
.toppanel .error#tip {
	top: 44px;
}
.notification#tip {
	top: 44px;
}
.error#tip {
	top: 44px;
}
.inline-menu.menu {
	top: auto; float: none; display: block; position: absolute;
}
.inline-menu {
	background: rgb(149, 166, 173); padding: 0px 10px; border-radius: 5px; left: 3%; width: 94%; bottom: 10px; color: white; line-height: 38px; font-size: 18px; display: block; position: absolute; z-index: 1; box-sizing: border-box;
}
.inline-menu ul {
	list-style: none; margin: 0px; padding: 0px; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center;
}
.inline-menu li {
	padding: 0px; text-align: center; position: relative;
}
.inline-menu a {
	padding: 10px 15px; color: white; text-decoration: none; display: inline-block; cursor: pointer; text-shadow: none;
}
.inline-menu .add-library span {
	padding: 10px 15px; color: white; text-decoration: none; display: inline-block; cursor: pointer; text-shadow: none;
}
.inline-menu a:hover {
	background: rgba(0, 0, 0, 0.05);
}
.inline-menu .add-library:hover {
	background: rgba(0, 0, 0, 0.05);
}
.inline-menu .add-library select {
	width: 100%; height: 100%;
}
.inline-menu a:focus {
	background: rgba(0, 0, 0, 0.1);
}
#source {
	bottom: 75px;
}
#live iframe {
	padding-top: 0px;
}
.panel {
	background: white;
}
#infocard {
	display: none;
}
#live .label {
	display: none;
}
.open#infocard {
	right: 20px; bottom: 84px; display: block;
}
.open#infocard .body {
	border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none; position: relative;
}
.open#infocard header {
	display: none;
}
.share-split#share {
	left: 2%; width: 96%; right: 0px; bottom: 84px; position: fixed;
}
.open#infocard {
	left: 2%; width: 96%; right: 0px; bottom: 84px; position: fixed;
}
.share-split#share > div {
	border-radius: 2px; min-width: auto;
}
.output#share-preview .output {
	background-size: contain;
}
#strip {
	width: 100%; height: 54px; bottom: 0px; line-height: 57px; padding-left: 0px; display: none; position: fixed; z-index: 10;
}
#strip > div {
	white-space: nowrap; overflow-x: scroll; overflow-y: hidden;
}
#strip::before {
	top: 10px; width: 0px; height: 100%; right: 0px; position: absolute; content: " "; box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.15);
}
#strip div::after {
	width: 5px; right: 0px; display: inline-block; position: relative; content: " ";
}
#strip button {
	background: rgb(204, 204, 204); margin: 5px; padding: 5px; border-radius: 3px; border: 0px currentColor; height: 44px; font-family: SourceCodeProRegular, Monaco, consolas, monospace; font-size: 18px; display: inline-block; min-width: 44px; box-sizing: border-box;
}
html.debug::before {
	content: "keyboard";
}
#console {
	padding-top: 0px;
}
.toppanel #bin {
	top: 0px;
}
.toppanel #history {
	top: 0px;
}
.toppanel #history .preview {
	top: 0px;
}
#strip {
	display: block;
}
.mobile .inline-menu {
	display: none;
}
.mobile .editbox textarea {
	top: 0px; height: auto; bottom: 0px; position: absolute;
}
.mobile .editbox > div {
	height: 100%; padding-bottom: 50%; position: relative;
}
#source {
	bottom: 0px;
}
html.debug::before {
	content: "tablet";
}
.toppanel .notification#tip {
	top: 22px;
}
.toppanel .error#tip {
	top: 22px;
}
.notification#tip {
	top: 22px;
}
.error#tip {
	top: 22px;
}
.toppanel-logo {
	display: none !important;
}
.mobile .inline-menu {
	display: none !important;
}
.panel .label {
	display: none !important;
}
.mobile-nav-trigger {
	display: none !important;
}
#control {
	height: 22px;
}
#control * {
	height: 22px;
}
#control #panels > a.button {
	height: 22px; line-height: 24px; padding-top: 0px;
}
#control #panels > a.active.hasContent.button {
	height: 22px; line-height: 24px; padding-top: 0px;
}
#control #panels > a.hasContent.button {
	
}
.toppanel #bin {
	top: 22px;
}
.toppanel #history {
	top: 22px;
}
.toppanel #history .preview {
	top: 22px;
}
#source {
	bottom: 0px;
}
#bin {
	top: 23px;
}
#history {
	top: 23px;
}
.mobile .editbox {
	top: 0px; bottom: 54px; overflow: scroll;
}
html.debug::before {
	content: "iphone";
}
.inline-menu li {
	font-size: 14px;
}
.toppanel-logo {
	display: none !important;
}
#control #panels > a.button {
	padding: 0px 5px; border: 0px currentColor; font-size: 13px; position: relative;
}
#control #panels > a.hasContent.button {
	font-weight: normal;
}
#control #panels > a.hasContent.button::before {
	left: 0px; width: 100%; height: 10px; text-align: center; right: 0px; bottom: 20px; color: rgb(204, 204, 204); font-size: 20px; position: absolute; content: "?";
}
