*{
	margin: 0;
	padding: 0;
}
html, body{
	text-align: center;
	font-family: "Microsoft Yahei";
}
.layout{
	width: 960px;
	margin: 0 auto;
}
.layout>h1{
	margin-bottom: 30px;
}
.layout:after{
	content: "";
	display: block;
	clear: both;
}
ul li{
	list-style: none;
}
a{
	display: block;
	color: white;
    text-decoration: none;
}
a:hover{
	color: #6c6c6c;
}

#header{
	position: relative;
}
.navbar{
	background: black;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 2;
}
.navbar li{
	float: right;
}
.navbar li a{
	width: 100px;
	height: 70px;
	line-height: 70px;
}

.carousel{
  width: 960px;
  height: 632px;
  position: relative;
  overflow: hidden;
}
.carousel .container li{
  float: left;
}
.carousel .container img{
  width: 960px;
  height: 632px;
}
.carousel .btn{
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid white;
  border-radius: 50%;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  margin-top: -15px;
}
.carousel .pre-btn{
  left: 10px;
}
.carousel .next-btn{
  right: 10px;
}
.carousel .bullet{
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
}
.carousel .bullet li{
  display: inline-block;
  width: 30px;
  height: 5px;
  border: 1px solid white;
  border-radius: 3px;
  cursor: pointer;
}
.carousel .bullet .active{
  background: white;
}

#header>.layout .desp{
	color: white;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -67px 0 0 -192px;
}
.desp h1{
	margin: 10px 0;
}
.desp a{
	display: inline-block;
	background: rgba(200, 200, 200, 0.5);
	width: 150px;
	height: 50px;
	line-height: 50px;
	border-radius: 3px;
}
.desp a:hover{
	background: lightgray;
	color: black;
}

.fontello{
	font-family: fontello;
	font-size: 80px;
}
.services{
	padding: 60px;
	background: #009393;
	color: white;
}
.services li{
	float: left;
	width: 280px;
	margin: 20px;
}
.services li p{
	margin: 10px;
}
.services li a{
	width: 100px;
	height: 50px;
	line-height: 50px;
	display: inline-block;
	border-radius: 3px;
	background: white;
	color: black;
}
.services li a:hover{
	color: gray;
}

.profile ul{
	position: relative;
	height: 850px;
}
.profile li{
	position: absolute;
	width: 300px;
	margin: 20px 9px 0 9px;
	border: 1px solid gray;
}
.profile li a{
	display: inline;
}
.profile li p{
	text-align: left;
	margin: 10px;
}
.profile img{
	width: 300px;
	height: 200px;
}
.profile .layout>a{
	display: inline-block;
	background: #009393;
	width: 100px;
	height: 50px;
	line-height: 50px;
	margin-top: 50px;
}
.profile{
	margin: 200px 0;
}

.about{
	color: white;
	margin-bottom: 150px;
	padding: 100px 0;
	background: #009393;
	position: relative;
	z-index: -2;
}
.about img{
	width: 300px;
	height: 200px;
	border-radius: 50%;
	border: 5px solid white;
}
.about li:after{
	content: "";
    display: block;
    height: 1100px;
    border: 3px solid white;
    position: absolute;
    left: 670px;
    top: 410px;
    z-index: -1;
}

.about li:nth-child(odd){
	padding-right: 325px;
	margin-top: 50px;
	overflow: hidden;
}
.about li:nth-child(odd) img{
	float: right;
	margin: 0 0 50px 0;
}
.about li:nth-child(odd) div{
	float: left;
	width: 300px;
}
.about li:nth-child(even){
	padding-left: 325px;
	margin-top: 50px;
	overflow: hidden;
}
.about li:nth-child(even) img{
	float: left;
	margin: 0 0 50px 0;
}
.about li:nth-child(even) div{
	float: right;
	width: 300px;
}
.about li:last-child div{
    width: 300px;
	height: 200px;
	line-height: 200px;
	background: #009393;
	border-radius: 50%;
	border: 5px solid white;
	font-size: 25px;
	position: relative;
	left: 320px;
}

.team li{
	float: left;
	margin: 60px;
}
.team img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.team li p+p{
	color: gray;
	font-size: 13px;
}
.team .fontello{
	display: inline-block;
	font-size: 20px;
    margin: 10px 20px;
}
.team ul ul{
	margin-left: 14px;
}
.contact{
	background: url(img/footbg.jpg);
	height: 100%;
	color: white;
	margin: 100px 0;
	padding: 100px;
}
.contact .form{
	float: left;
	margin-top: 32px;
}
.contact .form input{
	width: 400px;
	padding: 20px;
	margin-left: 37px; 
	margin-bottom: 20px;
	border: none;
	border-radius: 3px;
}
.contact textarea{
    font-family: "Microsoft Yahei";
    padding: 20px;
    border: none;
    border-radius: 3px;
    float: left;
    margin: 30px 37px 30px 37px;
}
.contact .layout>input{
	clear: both;
	display: block;
	width: 150px;
	height: 50px;
	background: #009393;
	color: white;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	margin: 0 auto;
}

#footer .fontello{
	font-size: 30px;
	float: left;
	margin: 10px 30px;
}
#footer ul{
	margin-left: 355px;
}
#footer a{
	display: inline;
	color: gray;
}
#footer a:hover{
	color: black;
	text-decoration: underline;
}
#footer div{
	clear: both;
	margin-bottom: 50px;
}

.on {
	background: #009393;
	border: 1px solid white;;
	border-radius: 3px;
	display: none;
	cursor: pointer;
	color: white;
	text-align: center;
	line-height: 50px;
	width: 100px;
	height: 50px;
	position: fixed;
	right: 0;
	bottom: 0;	
}
