div:first-child {
  height: 0;
  width: 0;
  margin: 20px;
  border: 50px solid;
  border-top-color: blue;
  border-left-color: red;
  border-right-color: yellow;
  border-bottom-color: green;
}

div:nth-child(2) {
  height: 0;
  width: 0;
  margin: 20px;
  border: 50px solid white;
  border-top-color: blue;
}

div:nth-child(3) {
  height: 0;
  width: 0;
  margin: 20px;
  border: 50px solid white;
  border-left-color: red;
}

div:nth-child(4) {
  height: 0;
  width: 0;
  margin: 20px;
  border: 50px solid white;
  border-right-color: yellow;
}

div:nth-child(5) {
  height: 0;
  width: 0;
  margin: 20px;
  border: 50px solid white;
  border-bottom-color: green;
}

div:nth-child(6) {
  height: 0;
  width: 0;
  margin: 20px;
  border: 35px solid white;
  border-left-color: red;
  border-bottom-color: red;
}

div:nth-child(7) {
  height: 0;
  width: 0;
  margin: 20px;
  border: 35px solid white;
  border-right-color: green;
  border-bottom-color: green;
}
