@charset "UTF-8";

/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-01-05 00:00:59
 * @version $Id$
 */

* {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, "sans serif";
    font-size: 14px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

a {
    text-decoration: none;
    color: inherit;
}


/*----------icon设置---------*/

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.twi .icon {
    font-size: 30px;
    padding: 0 2px;
}

.twi {
    display: inline-block;
    width: 150px;
}

.twi svg:nth-of-type(2) {
    position: relative;
    top: -2px;
}

.twi svg:nth-of-type(3) {
    position: relative;
    top: -1px;
}


/*----------icon设置---------*/


/*----------所有btn设置---------*/

.btn {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #ff6f47;
    display: inline-block;
    padding: 16px;
    border-radius: 8px;
    margin-top: 30px;
    cursor: pointer;
}


/*----------所有btn设置---------*/


/*----------layout---------*/

.layout {
    width: 1080px;
    margin: 0 auto;
    text-align: center;
}


/*----------layout---------*/


/*----------nav设置---------*/

#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    padding: 10px 0;
    background: rgba(3, 3, 3, .5);
    box-shadow: 0 3px 3px rgba(3, 3, 3, .2);
}

#nav .navbar li {
    color: white;
    font-size: 14px;
    line-height: 16px;
    border-radius: 8px;
    padding: 15px;
    font-weight: 400;
    margin-left: 14px;
}

#nav .navbar .active {
    background-color: white;
    color: #333;
    font-weight: 600;
    transition: .4s;
}

#nav .navbar li {
    float: left;
}

#nav .navbar {
    float: right;
}

#nav .lg {
    float: left;
    display: inline-block;
    height: 50px;
    width: 50px;
}

#nav .lg .icon {
    font-size: 50px;
    color: white;
}


/*----------nav设置---------*/


/*----------header设置---------*/

#header {
    color: white;
    text-align: center;
    position: relative;
}

#header .header-content {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#header p:nth-of-type(1) {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 76px;
    font-weight: 900;
    margin-bottom: 20px;
}

#header p:nth-of-type(2) {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 32px;
}

#header .carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 800px;
}

#header .carousel .container-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 9660px;
}

#header .carousel .container-img li {
    float: left;
}

#header .carousel .container-img img {
    width: 1380px;
    height: 100%;
}

#header .carousel .button {
    height: 200px;
    color: white;
    line-height: 200px;
    top: 50%;
    font-size: 100px;
    opacity: .2;
    padding: 20px;
    transform: translate(0, -50%)
}

#header .carousel .button:hover {
    opacity: 1;
    color: rgba(255, 255, 255, .8)
}

#header .carousel .button.pre {
    position: absolute;
    left: 0px;
}

#header .carousel .button.next {
    position: absolute;
    right: 0px;
}

#header .carousel .bullet {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0)
}

#header .carousel .bullet li {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgba(244, 244, 244, .5);
    float: left;
    margin: 10px;
    cursor: pointer;
    transition: all .6s ease-in-out;
}

#header .carousel .bullet .active {
    width: 30px;
    background-color: rgba(244, 244, 244, .9);
}


/*----------header设置---------*/


/*----------------------------*/

#content .layout {
    padding-top: 100px;
    padding-bottom: 140px;
}

#content .layout h1 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 44px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px
}

#content .layout h2 {
    font-weight: 300;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #888;
    font-size: 22px;
    margin-bottom: 70px;
}

#content .layout h3 {
    font-weight: 600;
    font-size: 18px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    margin-top: 20px;
    margin-bottom: 4px;
}

#content .layout h4 {
    font-size: 16px;
    font-weight: 200;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    padding-bottom: 20px;
}

#content .layout p {
    line-height: 1.5;
    padding: 0px 20px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.services-list li {
    width: 33.333333%;
    float: left;
}

.services .sv-lg {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    color: #ffe32c;
    display: inline-block;
}

.services .sv-lg .icon {
    font-size: 80px;
}

.services-list>li:nth-child(1) .sv-lg {
    color: #eb3300;
}

.services-list>li:nth-child(2) .sv-lg {
    color: #00bceb;
}

#content .services .services-list li h3 {
    margin-top: 0;
}


/*-------------------------*/

.category {
    background: #f7f7f7;
}

.category-list {
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.category-list li {
    margin-left: 15px;
    margin-right: 15px;
    width: 340px;
    /*float: left;*/
    background: white;
    border-radius: 8px;
    margin-bottom: 20px;
}

.category .category-list li a img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.category .category-list .mock img {
    width: 340px;
    height: 280px;
}

#content .category .category-list li h3 {
    margin-bottom: 20px;
}

#content .category .category-list li p {
    margin-bottom: 20px;
}

.category-list a {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 280px;
    background: pink;
    display: block;
    width: 100%;
    position: relative;
}

.category-list .list-cover {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 2;
    opacity: 0;
}

.category-list .list-cover:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.category-list .list-cover .icon {
    color: #f5f5f5;
    font-size: 100px;
    vertical-align: middle;
}

.category-list li a:hover .list-cover {
    opacity: .3;
}

.category-list li {
    margin-bottom: 20px;
}


/*----------------------------------------------------*/

.about .about-list {
    position: relative;
}

.about .about-list:after {
    content: "";
    display: block;
    height: 100%;
    width: 4px;
    background: #f1f1f1;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
    z-index: -100;
}

.about .about-list .about-pic {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 10px solid #f1f1f1;
    margin: 0 auto;
    background: green;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -90px;
}

.about .about-list li:nth-child(1) .about-pic {
    background: url(../img/food7.jpg) 0 0 no-repeat;
    background-size: cover;
}

.about .about-list li:nth-child(2) .about-pic {
    background: url(../img/food8.jpeg) center center no-repeat;
    background-size: cover;
}

.about .about-list li {
    position: relative;
}

.about .about-list li:after {
    content: "";
    display: block;
    clear: both;
}

.about .about-list li .about-p {
    width: 450px;
    box-sizing: border-box;
    /*outline: 1px solid green;*/
    padding: 0px 20px 170px 20px;
}

#content .about .about-list li h3 {
    margin-top: 10px;
}

#content .about .about-list li h4 {
    padding-bottom: 4px;
}

#content .about .about-list li p {
    padding: 0px;
}

.about .about-list li:nth-child(1) .about-p {
    text-align: left;
    float: left;
}

.about .about-list li:nth-child(2) .about-p {
    text-align: left;
    float: right;
}

.about .about-list li:nth-child(3) .about-p {
    text-align: left;
    float: left;
}

.about .about-list li:nth-child(4) .about-p {
    text-align: left;
    float: right;
}

.about .about-list .story {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 10px solid #f1f1f1;
    background: #3f322f;
    display: inline-block;
}

.about .about-list .story p {
    margin-top: 50px;
    font-size: 22px;
    color: white;
    font-weight: 900;
}


/*---------------------------------*/

.team {
    background: #f7f7f7;
}

.team .team-list li .img {
    display: inline-block;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.team .team-list li:nth-child(1) .img {
    background: url(../img/member1.jpg) center center no-repeat;
    background-size: cover;
}

.team .team-list li:nth-child(2) .img {
    background: url(../img/member2.png) center center no-repeat;
    background-size: cover;
}

.team .team-list li:nth-child(3) .img {
    background: url(../img/member3.jpeg) center center no-repeat;
    background-size: cover;
}

#content .team .team-list li h4 {
    padding-bottom: 4px;
}

.team .team-list li {
    float: left;
    padding: 0 90px;
}

.team .team-list {
    margin-bottom: 70px;
}


/*---------------------------------*/

#content .contact {
    background: #333;
}

#content .contact .layout h1,
#content .contact .layout h4 {
    color: white;
}

.contact .form-input {
    margin-left: -20px;
    margin-right: -20px;
}

.contact .col1,
.contact .col2 {
    width: 520px;
    margin: 0 20px;
    float: left;
}

.contact .form-control {
    display: block;
    font-size: 13px;
    color: #666;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: 600;
}

.contact .col2 .form-control {
    height: 214px;
}

.contact .form-control:hover {
    background: white;
}

.contact .form-control:focus {
    border-color: #111;
    box-shadow: none;
    outline: none;
}


/*---------------------------------*/

#footer {
    padding: 10px 0 0 10px;
}

#footer p:nth-of-type(1) {
    margin-bottom: 6px;
    font-size: 18px;
}

#footer .container {
    margin-bottom: 6px;
}

#footer a {
    color: #fed136;
    display: inline-block;
    margin: 0 6px;
}